.search form {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-right: 20px;
}

.search form input {
  padding: 6px;
}

@media screen and (max-width: 760px) {
  .search {
    width: 80%;
    margin-left: 31px;
  }
  .search form {
    margin: 0 0 20px 0;
  }
  .search form label {
    margin: 0;
  }
}
